[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = "*"
channels-redis = "*"
pillow = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
async-timeout = "*"
python-dotenv = "*"
sentry-sdk = "*"
daphne = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.10"
