<div class="row">
    <div class="col-6">
        <div class="form-group mb-4">
            <label class="col-form-label text-center">Hour</label> {{form.hour}}
            {{form.hour.errors}}
        </div>
    </div>
    <div class="col-6">
        <div class="form-group mb-4">
            <label class="col-form-label text-center">Frequency</label> {{form.frequency}}
            {{form.frequency.errors}}
        </div>
    </div>
</div>
<hr />
<h4>Oshogbo</h4>
<div class="row">
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">kV</label> {{form.oshogbo_kv}}
            {{form.oshogbo_kv.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">A</label> {{form.oshogbo_a}}
            {{form.oshogbo_a.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">MW</label> {{form.oshogbo_mw}}
            {{form.oshogbo_mw.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Mvar</label> {{form.oshogbo_mvar}}
            {{form.oshogbo_mvar.errors}}
        </div>
    </div>


</div>
<hr />
<h4>Olorunsogo</h4>
<div class="row">
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">kV</label> {{form.olorunsogo_kv}}
            {{form.olorunsogo_kv.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">A</label> {{form.olorunsogo_a}}
            {{form.olorunsogo_a.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">MW</label> {{form.olorunsogo_mw}}
            {{form.olorunsogo_mw.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Mvar</label> {{form.olorunsogo_mvar}}
            {{form.olorunsogo_mvar.errors}}
        </div>
    </div>


</div>

<hr />
<h4>Sagamu</h4>
<div class="row">
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">kV</label> {{form.sagamu_kv}}
            {{form.sagamu_kv.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">A</label> {{form.sagamu_a}}
            {{form.sagamu_a.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">MW</label> {{form.sagamu_mw}}
            {{form.sagamu_mw.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Mvar</label> {{form.sagamu_mvar}}
            {{form.sagamu_mvar.errors}}
        </div>
    </div>


</div>
<hr />
<h4>Jericho</h4>
<div class="row">
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">kV</label> {{form.jericho_kv}}
            {{form.jericho_kv.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">A</label> {{form.jericho_a}}
            {{form.jericho_a.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">MW</label> {{form.jericho_mw}}
            {{form.jericho_mw.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Mvar</label> {{form.jericho_mvar}}
            {{form.jericho_mvar.errors}}
        </div>
    </div>
</div>
<hr />
<h4>IBN/Iwo/Iseyin</h4>
<div class="row">
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">kV</label> {{form.iwo_iseyin_kv}}
            {{form.iwo_iseyin_kv.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">A</label> {{form.iwo_iseyin_a}}
            {{form.iwo_iseyin_a.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">MW</label> {{form.iwo_iseyin_mw}}
            {{form.iwo_iseyin_mw.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Mvar</label> {{form.iwo_iseyin_mvar}}
            {{form.iwo_iseyin_mvar.errors}}
        </div>
    </div>
</div>
<hr />
<h4>T2B</h4>
<div class="row">
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">kV</label> {{form.t2b_kv}}
            {{form.t2b_kv.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">A</label> {{form.t2b_a}}
            {{form.t2b_a.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">MW</label> {{form.t2b_mw}}
            {{form.t2b_mw.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Mvar</label> {{form.t2b_mvar}}
            {{form.t2b_mvar.errors}}
        </div>
    </div>
</div>
<hr />
<h4>T2A</h4>
<div class="row">
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">kV</label> {{form.t2a_kv}}
            {{form.t2a_kv.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">A</label> {{form.t2a_a}}
            {{form.t2a_a.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">MW</label> {{form.t2a_mw}}
            {{form.t2a_mw.errors}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Mvar</label> {{form.t2a_mvar}}
            {{form.t2a_mvar.errors}}
        </div>
    </div>
</div>

<h4>Total (T2A + T1A + T2B + T1B)</h4>
<div class="row">

    <div class="col-6">
        <div class="form-group mb-4">
            <label class="col-form-label text-center">Total A</label> {{form.total_load_a}}
            {{form.total_load_a.errors}}
        </div>
    </div>
    <div class="col-6">
        <div class="form-group mb-4">
            <label class="col-form-label text-center">Total Load (MW)</label> {{form.total_load_mw}}
            {{form.total_load_mw.errors}}
        </div>
    </div>
</div>
<div class="form-group row mb-4">
    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
    <div class="col-sm-12 col-md-7">
        <button type="submit" class="btn btn-block btn-primary">{{cta}}</button>
    </div>
</div>