{% extends 'base.html' %} {% block title %} 132kV Stations {% endblock title %} {% block content %}


<div class="section-header">
    <h1>Stations</h1>
</div>
<div class="section-body">
    <button class="btn btn-secondary btn-sm" onclick="history.back()"> &#8592 Go Back</button>
    <h2 class="section-title">132kV Stations</h2>
    <div class="row">
        {% for station in stations_132 %}
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <article class="article">
                <div class="article-header">
                    <div class="article-image" data-background="{{station.image.url}}">
                    </div>
                    <div class="article-title">
                        <h2><a href="{{station.get_absolute_url}}">{{station.name}}</a></h2>
                    </div>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}