{% extends 'base.html' %}
{% load static %}
{% block title %} Create Feeder {% endblock title %}
{% block content %}


<div class="section-header">
    <div class="section-header-back">
    </div>      
    <h1>Create Feeder</h1>
  </div>
  <div class="section-body">
    <h2 class="section-title">Create New Feeder</h2>
    <p class="section-lead">
      On this page you can create a feeder and fill in all fields.
    </p>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4>Write Feeder details</h4>
          </div>
          <div class="card-body">
            <form action={% url 'feeders:create' %} method="POST">
              {% csrf_token %}
                {% include 'forms/post/form.html' with form=form cta="Create Feeder" %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}