<div class="row">
    <div class="col-6">
        <div class="form-group mb-4">
            <label class="col-form-label text-center">Hour</label> {{form.hour}}
        </div>
    </div>
    <div class="col-6">
        <div class="form-group mb-4">
            <label class="col-form-label text-center">Frequency</label> {{form.frequency}}
        </div>
    </div>
</div>
<hr />
<h4>IBN/Iwo/Iseyin</h4>
<div class="row">
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">kV</label> {{form.iwo_iseyin_kv}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">A</label> {{form.iwo_iseyin_a}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">MW</label> {{form.iwo_iseyin_mw}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Mvar</label> {{form.iwo_iseyin_mvar}}
        </div>
    </div>


</div>
<hr />
<h4>Jericho</h4>
<div class="row">
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">kV</label> {{form.jericho_kv}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">A</label> {{form.jericho_a}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">MW</label> {{form.jericho_mw}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Mvar</label> {{form.jericho_mvar}}
        </div>
    </div>


</div>

<hr />
<h4>McPerson</h4>
<div class="row">
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">kV</label> {{form.mcpherson_kv}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">A</label> {{form.mcpherson_a}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">MW</label> {{form.mcpherson_mw}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Mvar</label> {{form.mcpherson_mvar}}
        </div>
    </div>
</div>

<hr />
<h4>Feeders (A)</h4>
<div class="row">
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Oluyole</label> {{form.oluyole}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Express</label> {{form.express}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Liberty</label> {{form.liberty}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Industrial</label> {{form.industrial}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Interchange</label> {{form.interchange}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Iyaganku</label> {{form.iyaganku}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Apata</label> {{form.apata}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Eleyele</label> {{form.eleyele}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Lanlate</label> {{form.lanlate}}
        </div>
    </div>
</div>

<hr />
<h4>T1</h4>
<div class="row">
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">kv</label> {{form.t1_kv}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">A</label> {{form.t1_a}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">MW</label> {{form.t1_mw}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Mvar</label> {{form.t1_mvar}}
        </div>
    </div>
</div>
<hr />
<h4>T2</h4>
<div class="row">
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">kV</label> {{form.t2_kv}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">A</label> {{form.t2_a}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">MW</label> {{form.t2_mw}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Mvar</label> {{form.t2_mvar}}
        </div>
    </div>
</div>
<hr />
<h4>T3</h4>
<div class="row">
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">kV</label> {{form.t3_kv}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">A</label> {{form.t3_a}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">MW</label> {{form.t3_mw}}
        </div>
    </div>
    <div class="col">
        <div class="form-group mb-4">
            <label class="col-form-label text-md-right">Mvar</label> {{form.t3_mvar}}
        </div>
    </div>
</div>
<hr/>

<h4>Total (T1 + T2 + T3)</h4>
<div class="row">

    <div class="col-6">
        <div class="form-group mb-4">
            <label class="col-form-label text-center">Total Load (MW)</label> {{form.total_load_mw}}
        </div>
    </div>
    <div class="col-6">
        <div class="form-group mb-4">
            <label class="col-form-label text-center">Total Load (Mvar)</label> {{form.total_load_mvar}}
        </div>
    </div>
</div>
<div class="form-group row mb-4">
    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
    <div class="col-sm-12 col-md-7">
        <button type="submit" class="btn btn-block btn-primary">{{cta}}</button>
    </div>
</div>